<!DOCTYPE html>
<html lang="pl" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Logowanie</title>
    <link th:href="@{/css/main.css}" rel="stylesheet"/>
    <link th:href="@{/css/reset.css}" rel="stylesheet"/>
    <link href="https://fonts.googleapis.com/css?family=Roboto:400,500,700&display=swap&subset=latin-ext"
          rel="stylesheet">
</head>
<body>
<div class="logo">
    <span class="green">Web</span>diet
</div>
<div class="container">
    <div class="form-container">
        <form th:action="@{/login}" th:object="${loginRequest}" th:method="post">
            <p class="errorMessage" th:text="${error}"/>
            <input class="textInput" type="text" placeholder="Login" th:field="*{username}">
            <input class="textInput" type="password" placeholder="Hasło" th:field="*{password}">
            <div class="margin-top">
                <button class="button" type="submit">Zaloguj się</button>
                <a th:href="@{/register}" class="aAsButton button">Zarejestruj</a>
            </div>
        </form>
    </div>
</div>
</body>
</html>