<!DOCTYPE html>
<html lang="pl" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Strona główna</title>
    <link th:href="@{/css/reset.css}" rel="stylesheet" type="text/css"/>
    <link th:href="@{/css/menu.css}" rel="stylesheet" type="text/css"/>
    <link th:href="@{/css/main.css}" rel="stylesheet" type="text/css"/>
    <link href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.11.2/css/all.css" rel="stylesheet"
          type="text/css"/>
    <link href="https://fonts.googleapis.com/css?family=Roboto:400,500,700&display=swap&subset=latin-ext"
          rel="stylesheet">
</head>
<body>
<menu>
    <div class="main-menu">
        <a th:href="@{/}" class="menu-logo"><span class="green">Web</span>Diet</a>
        <a th:href="@{/show-products}" class="menu-option">Produkty</a>
        <a th:href="@{/show-recipes}" class="menu-option active">Przepisy</a>
        <a th:href="@{/show-shopping-lists}" class="menu-option">Listy</a>
    </div>
    <div class="sub-menu">
        <a th:href="@{/create-recipe}" class="menu-option square"><i class="fas fa-plus"></i></a>
        <a th:href="@{/profile}" class="menu-option square"><i class="fas fa-user"></i></a>
        <a th:href="@{/logout}" class="menu-option square"><i class="fas fa-power-off"></i></a>
    </div>
</menu>
<main class="container" style="flex-wrap:wrap;">
    <div class="cart" th:each="recipe : ${recipes}">
        <h1 th:text="${recipe.name}"></h1>
        <h2 th:text="${recipe.type.value + ' (' + #numbers.formatDecimal(recipe.totalKcal == null ? 0 : recipe.totalKcal, 0, 2) + ' kcal)'}"></h2>
        <p th:text="${recipe.description}"/>
        <div class="buttons">
            <a th:href="${'/details-recipe?id=' + recipe.guid}" class="aAsButton button"
               style="width: 5vh; margin-right: 5%;"><i class="fas fa-info"></i></a>
            <a th:href="${'/update-recipe?id=' + recipe.guid}" class="aAsButton button"
               style="width: 5vh; margin-right: 5%;"><i class="fas fa-pencil-alt"></i></a>
            <a th:href="${'/delete-recipe?id=' + recipe.guid}" class="aAsButton button" style="width: 5vh;"><i
                    class="fas fa-trash-alt"></i></a>
        </div>
    </div>
</main>
</div>
</body>
</html>